.font-zen-maru-gothic {
  font-family: 'Zen Maru Gothic', system-ui, sans-serif;
}
.font-noto-sans-jp {
  font-family: 'Noto Sans JP', system-ui, sans-serif;
}
.font-rampart-one {
  font-family: 'Rampart One', system-ui, sans-serif;
}
.font-zen-kurenaido {
  font-family: 'Zen Kurenaido', system-ui, sans-serif;
}
.font-klee-one {
  font-family: 'Klee One', system-ui, sans-serif;
}
.font-dot-gothic-16 {
  font-family: 'Dot Gothic 16', system-ui, sans-serif;
}
.font-kiwi-maru {
  font-family: 'Kiwi Maru', system-ui, sans-serif;
}
.font-potta-one {
  font-family: 'Potta One', system-ui, sans-serif;
}
.font-hachi-maru-pop {
  font-family: 'Hachi Maru Pop', system-ui, sans-serif;
}
.font-yuji-mai {
  font-family: 'Yuji Mai', system-ui, sans-serif;
}
.font-rocknroll-one {
  font-family: 'RocknRoll One', system-ui, sans-serif;
}
.font-reggae-one {
  font-family: 'Reggae One', system-ui, sans-serif;
}
.font-stick {
  font-family: 'Stick', system-ui, sans-serif;
}
.font-m-plus-rounded-1c {
  font-family: 'M PLUS Rounded 1c', system-ui, sans-serif;
}
.font-m-plus-1 {
  font-family: 'M PLUS 1', system-ui, sans-serif;
}
.font-yusei-magic {
  font-family: 'Yusei Magic', system-ui, sans-serif;
}
.font-dela-gothic-one {
  font-family: 'Dela Gothic One', system-ui, sans-serif;
}
.font-new-tegomin {
  font-family: 'New Tegomin', system-ui, sans-serif;
}
.font-kosugi-maru {
  font-family: 'Kosugi Maru', system-ui, sans-serif;
}
.font-hina-mincho {
  font-family: 'Hina Mincho', system-ui, sans-serif;
}
.font-shippori-mincho {
  font-family: 'Shippori Mincho', system-ui, sans-serif;
}
.font-kaisei-decol {
  font-family: 'Kaisei Decol', system-ui, sans-serif;
}
.font-mochiy-pop-one {
  font-family: 'Mochiy Pop One', system-ui, sans-serif;
}
.font-yuji-boku {
  font-family: 'Yuji Boku', system-ui, sans-serif;
}
.font-kaisei-harunoumi {
  font-family: 'Kaisei HarunoUmi', system-ui, sans-serif;
}
.font-sawarabi-gothic {
  font-family: 'Sawarabi Gothic', system-ui, sans-serif;
}
.font-zen-old-mincho {
  font-family: 'Zen Old Mincho', system-ui, sans-serif;
}
.font-sawarabi-mincho {
  font-family: 'Sawarabi Mincho', system-ui, sans-serif;
}
.font-zen-antique {
  font-family: 'Zen Antique', system-ui, sans-serif;
}
.font-kaisei-tokumin {
  font-family: 'Kaisei Tokumin', system-ui, sans-serif;
}
.font-yuji-syuku {
  font-family: 'Yuji Syuku', system-ui, sans-serif;
}
.font-wdxl-lubrifont-jp-n {
  font-family: 'WDXL Lubrifont JP N', system-ui, sans-serif;
}
.font-murecho {
  font-family: 'Murecho', system-ui, sans-serif;
}
.font-kaisei-opti {
  font-family: 'Kaisei Opti', system-ui, sans-serif;
}
.font-biz-udmincho {
  font-family: 'BIZ UDMincho', system-ui, sans-serif;
}
.font-shippori-antique {
  font-family: 'Shippori Antique', system-ui, sans-serif;
}
